

.tasksContainer{
  margin-top: 4rem;
}

.tasksContainer .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasksCreated{
  color: var(--blue-300);
}

.tasksCompleted{
  color: var(--purple-300);
}

.tasksCreated, .tasksCompleted{
  font-weight: bold;
  font-size: 0.875;
}

.counterTasks{
  border-radius: 8px;
  
  padding: 0.125rem 0.5rem;
  text-align: center;
  
  background: var(--gray-400);
  color:var(--gray-200);
}

.boxNoTask img {
  margin-bottom: 1rem;
}

.boxNoTask{
  margin-top: 1.5rem;
  padding: 4rem 1.5rem;

  color:var(--gray-300);
  text-align: center;

  line-height: 1.4;

  border:none;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.boxNoTask .bold{
  font-weight: bold;
}