

.tasksContainer{
  margin-top: 4rem;
}

.tasksContainer .info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tasksCreated{
  color: var(--blue-300);
}

.tasksCompleted{
  color: var(--purple-300);
}

.tasksCreated, .tasksCompleted{
  font-weight: bold;
  font-size: 0.875;
}

.counterTasks{
  border-radius: 8px;
  
  padding: 0.125rem 0.5rem;
  text-align: center;
  
  background: var(--gray-400);
  color:var(--gray-200);
}